html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#spinner-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100000000;
}

/* event */
/*.event-box:hover {
    background-color: #87CEEB;
}*/

div[data-color="Active"] {
    background-color: #BFFFA6FF;
}

div[data-color="Active"]:hover {
    background-color: #9DFF7DFF;
}

div[data-color="Canceled"] {
    background-color: #FFB0A6FF;
}

div[data-color="Canceled"]:hover {
    background-color: #FF988CFF;
}

div[data-color="Pending"] {
    background-color: #FFF79CFF;
}

div[data-color="Pending"]:hover {
    background-color: #FFE373FF;
}


*[data-update-authority="false"], *[data-create="false"] {
    display: none;
}

*[data-update-authority="true"], *[data-create="true"] {
    display: block;
}