@page
@model IndexModel
@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is main page</a>.</p>
</div>
