@page
@model Razor.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Log in";
}

<form method="post" class="row g-3 d-flex flex-column align-items-center">
    <div class="col-md-6 text-center">
        <h1 class="form-label">Log in</h1>
    </div>
    <div class="col-md-6">
        <label for="e-mail" class="form-label">E-Mail</label>
        <input asp-for="loginViewModel.Email" class="form-control" id="e-mail">
        <span asp-validation-for="loginViewModel.Email" class="text-danger font-weight-bold"></span>
    </div>
    <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input asp-for="loginViewModel.Password" class="form-control" id="password">
        <span asp-validation-for="loginViewModel.Password" class="text-danger font-weight-bold"></span>
    </div>
    <div class="col-md-6 text-center mt-xl-5">
        <button class="btn btn-primary" type="submit">Log in</button>
    </div>
</form>


@section Scripts {
        @if (TempData["Message"] != null)
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    html: '@TempData["Message"]'
                })
            </script>
        }
}
